:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
=================
  Custom Styles
=================
*/
:root{
  --bg: #010409;
  --bg-2: #0d1017;
  --text: #f1f6fc;
  --accent: #141b23;
  --lines: #3e434b;
}


#root{
  padding:  0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

body {
  background-color: var(--bg-2);
  margin: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
}


h1{
  font-size: 2.5rem;
  color: var(--text);
}


h2{
  color: var(--text);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2::before{
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--accent);
  margin-top: 0.5rem;

}

p {
  max-width: 65ch;
}

a{
  color: var(--accent);
  text-decoration: none;
}

a:hover{
  opacity: 0.8;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



/*============
    SPACING
=============*/

section{
  padding: 10rem 0;
}

/*
================
  Header
================
*/


.header-section{
  padding: 0; 
  margin: 0;
  border-bottom: 1px solid var(--lines);
  width: 100%;
  background-color: var(--bg);
}




/*
==================
      Footer
==================
*/

.footer-section{
  padding-bottom: 0; 
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
}

.footer-text{
  color: var(--lines);
  font-size: 0.9rem;
}

.footer-link{
  color: var(--lines);
}